joblib==1.1.0
numpy==1.21.1
pickle
Flask==3.0.3
Flask_Cors==4.0.1
tldextract==3.1.2
regex==2021.7.6. 
requests==2.26.0
beautifulsoup4==4.10.0
urllib3==1.26.6
whois==0.9.14
ipaddress==1.0.24
dnspython
